<div class="container">
  <div class="d-flex justify-content-end mt-5">
<form action="">
  <div style="position: relative;">
    <input  class="px-5 py-2" type="search " placeholder="recherchez par matricule">
    <div style="position: absolute;top: 0">

      <svg xmlns="http://www.w3.org/2000/svg" height="36" width="34"><path d="M39.8 41.95 26.65 28.8q-1.5 1.3-3.5 2.025-2 .725-4.25.725-5.4 0-9.15-3.75T6 18.75q0-5.3 3.75-9.05 3.75-3.75 9.1-3.75 5.3 0 9.025 3.75 3.725 3.75 3.725 9.05 0 2.15-.7 4.15-.7 2-2.1 3.75L42 39.75Zm-20.95-13.4q4.05 0 6.9-2.875Q28.6 22.8 28.6 18.75t-2.85-6.925Q22.9 8.95 18.85 8.95q-4.1 0-6.975 2.875T9 18.75q0 4.05 2.875 6.925t6.975 2.875Z"/></svg>
    </div>
  </div>
</form>
</div>
  <table class="table table-bordered mt-4">
    <thead>
      <tr>
        <th scope="col">NOM</th>
        <th scope="col">PRENOM</th>
        <th scope="col">EMAIL</th>
        <th scope="col">role</th>
        <th scope="col">MATRICULE</th>
        <th scope="col">ACTION</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Sow</th>
        <td>Mariéme</td>
        <td>maricherif@gmail.com</td>
        <td>adminn</td>
        <td>mar12456U</td>
        <td>
          <img src="../../assets/img/archiv.png" alt="" width="35" height="35">
          <img src="../../assets/img/edit.svg" alt="" width="35" height="35">
          <img src="../../assets/img/change.png" alt="" width="35" height="35">
        </td>
      </tr>
     <!--  <tr>
        <th>mamama</th>
        <td>Jacob</td>
        <td>Thornton@njikik.lko</td>
        <td>@fat</td>
        <td>
          <img src="../../assets/img/archiv.png" alt="" width="35" height="35">
          <img src="../../assets/img/edit.svg" alt="" width="35" height="35">
          <img src="../../assets/img/change.png" alt="" width="35" height="35">
        </td>

      </tr> -->
     <!--  <tr>y
      
        <th>mamama</th>
        <td>Larry the Bird</td>
        <td>@twitter</td>
        <td>@mdo</td>
        <td>
          <img src="../../assets/img/archiv.png" alt="" width="35" height="35">
          <img src="../../assets/img/edit.svg" alt="" width="35" height="35">
          <img src="../../assets/img/change.png" alt="" width="35" height="35">
        </td>


      </tr> -->
    </tbody>
  </table>

</div>
